.profile
  %h2 Profile

  .form
    %h3
      Contact Info
    %p
      Update your default contact information.
    = form_with model: @user, url: profile_path, method: :patch do |form|
      %div{ class: bem("form", "field", "name") }
        = form.label :name
        = form.text_field :name
      %div{ class: bem("form", "field", "email") }
        = form.label :email
        = form.text_field :email, disabled: true
      %div{ class: bem("form", "field", "phone") }
        = form.label :phone
        = form.text_field :phone
      %div{ class: bem("form", "field", "portfolio-url") }
        = form.label :portfolio_url
        = form.text_field :portfolio_url
      %div{ class: bem("form", "field", "preferred-pronouns") }
        = form.label :preferred_pronouns
        = form.text_field :preferred_pronouns
      %div{ class: bem("form", "actions") }
        = form.submit "Save"
