= turbo_frame_tag school do
  .school
    .school__info-line
      .school__info
        = school.name
      - if school.location.present?
        .school__info
          = school.location
      - if school.url.present?
        .school__info
          = link_to(school.display_url, school.full_url, target: school.name)
    .school__info-line
      - if school.degree.present? || school.major.present?
        .school__info
          - if school.degree.present?
            = [school.degree.presence, ("(#{school.major})" if school.major.present?)].compact.join(" ")
          - elsif school.major.present?
            = I18n.t('school.coursework', major: school.major)
    - if school.note.present?
      .school__info-line
        .school__info
          = school.note
