= form_with model: resume || Resume.new, class: 'form' do |form|
  = form.hidden_field :user_id, value: current_user.id
  .form__field
    = form.label :field
    = form.text_field :field, placeholder: 'Software Development'
  .form__field
    = form.label :profile
    = form.text_area :profile
  .form__actions
    = form.submit 'Save', class: 'button'
