- classes = bem("form", nil, "resume-overview")
= form_with model: resume || Resume.new, class: classes do |form|
  .form__field
    = form.label :field
    = form.text_field :field, placeholder: 'Software Development'
  .form__field
    = form.label :alias_name
    = form.text_field :alias_name, placeholder: resume.user&.name
  .form__field
    = form.label :email
    = form.text_field :email, value: resume.read_attribute(:email), placeholder: resume.user&.email
  .form__field
    = form.label :phone
    = form.text_field :phone, value: resume.read_attribute(:phone), placeholder: resume.user&.phone
  .form__field
    = form.label :portfolio_url
    = form.text_field :portfolio_url, value: resume.read_attribute(:portfolio_url), placeholder: resume.user&.portfolio_url
  .form__field
    = form.label :preferred_pronouns
    = form.text_field :preferred_pronouns, value: resume.read_attribute(:preferred_pronouns), placeholder: resume.user&.preferred_pronouns
  .form__actions
    = form.submit 'Save', class: 'button'
