= turbo_frame_tag resume do
  .resume
    .resume__header
      %h2
        = resume.name
      - if resume.field
        %h3.subheader
          = resume.field
    .resume__contact-info
      - if resume.email.present?
        %div{ class: bem("resume", "contact-info-item", "email") }
          = mail_to resume.email
      - if resume.phone.present?
        %div{ class: bem("resume", "contact-info-item", "phone") }
          = resume.phone
    - if resume.profile.present?
      .resume__section
        .resume__section-title
          = I18n.t('resume.profile')
        .resume__section-content
          = resume.profile
    - if resume.employers.present?
      .resume__section
        .resume__section-title
          = I18n.t('resume.work_experience')
        .resume__section-content
          = render resume.employers
    - if resume.schools.present?
      .resume__section
        .resume__section-title
          = I18n.t('resume.educational_experience')
        .resume__section-content
          = render resume.schools
    - if policy(resume).edit? || policy(resume).destroy?
      .resume__actions
        - if policy(resume).edit?
          - button_text = I18n.t('resource.edit_resource', resource: I18n.t('activerecord.models.resume'))
          = link_to button_text, edit_resume_path(id: resume.slug), class: 'button'
        - if policy(resume).destroy?
          - button_text = I18n.t('resource.destroy_resource', resource: I18n.t('activerecord.models.resume'))
          - confirmation_text = I18n.t('resume.confirm_destroy')
          = button_to button_text, resume, method: :delete, data: { 'turbo-confirm': confirmation_text }, class: 'button'
