.navbar
  .navbar__title
    %h1
      %a.navbar__title-link{ href: root_path }
        = I18n.t('site.name', default: 'Colleague')
    - if I18n.exists?('site.tagline')
      %h2.navbar__tagline.subheader
        = I18n.t('site.tagline')
  %ul.navbar__menu
    %li.navbar__menu-item
      = link_to(I18n.t('activerecord.models.resume').pluralize, resumes_path, class: bem('button', nil, 'clear'))
    - if signed_in?
      %li.navbar__menu-item
        = button_to I18n.t("application.sign_out"), destroy_user_session_path, method: :delete, class: 'button'
    - elsif User.count.positive?
      %li.navbar__menu-item
        = link_to I18n.t('application.sign_in'), new_user_session_path, class: 'button'
    - else
      = link_to(I18n.t('application.sign_up'), new_user_registration_path, class: "button")
