!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Colleague
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body{ class: bem('controller', '', controller_name) }
    .spread
      .page
        = render partial: "layouts/navbar"
        = turbo_frame_tag "messaging" do
          = render partial: "layouts/messaging"
        %main
          = yield
        %footer
          = render partial: "layouts/footer"
